[submodule "git_note"]
	path = git_note
	url = git@github.com:nickdecodes/git_note.git
[submodule "vim_note"]
	path = vim_note
	url = git@github.com:nickdecodes/vim_note.git
[submodule "mac_note"]
	path = mac_note
	url = git@github.com:nickdecodes/mac_note.git
[submodule "shell_note"]
	path = shell_note
	url = git@github.com:nickdecodes/shell_note.git
[submodule "linux_note"]
	path = linux_note
	url = git@github.com:nickdecodes/linux_note.git
[submodule "qt_note"]
	path = qt_note
	url = git@github.com:nickdecodes/qt_note.git
[submodule "docker_note"]
	path = docker_note
	url = git@github.com:nickdecodes/docker_note.git
[submodule "swift_note"]
	path = swift_note
	url = git@github.com:nickdecodes/swift_note.git
[submodule "golang_note"]
	path = golang_note
	url = git@github.com:nickdecodes/golang_note.git
[submodule "java_note"]
	path = java_note
	url = git@github.com:nickdecodes/java_note.git
[submodule "javascript_note"]
	path = javascript_note
	url = git@github.com:nickdecodes/javascript_note.git
[submodule "html_note"]
	path = html_note
	url = git@github.com:nickdecodes/html_note.git
[submodule "css_note"]
	path = css_note
	url = git@github.com:nickdecodes/css_note.git
[submodule "react_note"]
	path = react_note
	url = git@github.com:nickdecodes/react_note.git
[submodule "vue_note"]
	path = vue_note
	url = git@github.com:nickdecodes/vue_note.git
[submodule "react_native_note"]
	path = react_native_note
	url = git@github.com:nickdecodes/react_native_note.git
[submodule "computer_basic_note"]
	path = computer_basic_note
	url = git@github.com:nickdecodes/computer_basic_note.git
[submodule "c_note"]
	path = c_note
	url = git@github.com:nickdecodes/c_note.git
[submodule "cpp_note"]
	path = cpp_note
	url = git@github.com:nickdecodes/cpp_note.git
[submodule "python_note"]
	path = python_note
	url = git@github.com:nickdecodes/python_note.git
[submodule "middleware_note"]
	path = middleware_note
	url = git@github.com:nickdecodes/middleware_note.git
[submodule "interview_note"]
	path = interview_note
	url = git@github.com:nickdecodes/interview_note.git
[submodule "test"]
	path = test
	url = git@github.com:nickdecodes/test.git
