[submodule "git_note"]
	path = git_note
	url = git@github.com:nickdecodes/git_note.git
[submodule "vim_note"]
	path = vim_note
	url = git@github.com:nickdecodes/vim_note.git
[submodule "mac_note"]
	path = mac_note
	url = git@github.com:nickdecodes/mac_note.git
[submodule "shell_note"]
	path = shell_note
	url = git@github.com:nickdecodes/shell_note.git
[submodule "linux_note"]
	path = linux_note
	url = git@github.com:nickdecodes/linux_note.git
[submodule "qt_note"]
	path = qt_note
	url = git@github.com:nickdecodes/qt_note.git
[submodule "docker_note"]
	path = docker_note
	url = git@github.com:nickdecodes/docker_note.git
[submodule "swift_note"]
	path = swift_note
	url = git@github.com:nickdecodes/swift_note.git
[submodule "golang_note"]
	path = golang_note
	url = git@github.com:nickdecodes/golang_note.git
[submodule "java_note"]
	path = java_note
	url = git@github.com:nickdecodes/java_note.git
[submodule "javascript_note"]
	path = javascript_note
	url = git@github.com:nickdecodes/javascript_note.git
[submodule "html_note"]
	path = html_note
	url = git@github.com:nickdecodes/html_note.git
[submodule "css_note"]
	path = css_note
	url = git@github.com:nickdecodes/css_note.git
[submodule "react_note"]
	path = react_note
	url = git@github.com:nickdecodes/react_note.git
[submodule "vue_note"]
	path = vue_note
	url = git@github.com:nickdecodes/vue_note.git
[submodule "react_native_note"]
	path = react_native_note
	url = git@github.com:nickdecodes/react_native_note.git
[submodule "computer_basic_note"]
	path = computer_basic_note
	url = git@github.com:nickdecodes/computer_basic_note.git
[submodule "c_note"]
	path = c_note
	url = git@github.com:nickdecodes/c_note.git
[submodule "cpp_note"]
	path = cpp_note
	url = git@github.com:nickdecodes/cpp_note.git
[submodule "python_note"]
	path = python_note
	url = git@github.com:nickdecodes/python_note.git
[submodule "middleware_note"]
	path = middleware_note
	url = git@github.com:nickdecodes/middleware_note.git
[submodule "interview_note"]
	path = interview_note
	url = git@github.com:nickdecodes/interview_note.git
[submodule "streaming_media_note"]
	path = streaming_media_note
	url = git@github.com:nickdecodes/streaming_media_note.git
[submodule "deep_learning_note"]
	path = deep_learning_note
	url = git@github.com:nickdecodes/deep_learning_note.git
[submodule "work_note"]
	path = work_note
	url = git@github.com:nickdecodes/work_note.git
[submodule "c-note"]
	path = c-note
	url = git@github.com:nickdecodes/c-note.git
[submodule "computer-basic-note"]
	path = computer-basic-note
	url = git@github.com:nickdecodes/computer-basic-note.git
[submodule "cpp-note"]
	path = cpp-note
	url = git@github.com:nickdecodes/cpp-note.git
[submodule "css-note"]
	path = css-note
	url = git@github.com:nickdecodes/css-note.git
[submodule "deep-learning-note"]
	path = deep-learning-note
	url = git@github.com:nickdecodes/deep-learning-note.git
[submodule "docker-note"]
	path = docker-note
	url = git@github.com:nickdecodes/docker-note.git
[submodule "git-note"]
	path = git-note
	url = git@github.com:nickdecodes/git-note.git
[submodule "golang-note"]
	path = golang-note
	url = git@github.com:nickdecodes/golang-note.git
[submodule "html-note"]
	path = html-note
	url = git@github.com:nickdecodes/html-note.git
[submodule "interview-note"]
	path = interview-note
	url = git@github.com:nickdecodes/interview-note.git
[submodule "java-note"]
	path = java-note
	url = git@github.com:nickdecodes/java-note.git
[submodule "javascript-note"]
	path = javascript-note
	url = git@github.com:nickdecodes/javascript-note.git
[submodule "linux-note"]
	path = linux-note
	url = git@github.com:nickdecodes/linux-note.git
[submodule "mac-note"]
	path = mac-note
	url = git@github.com:nickdecodes/mac-note.git
[submodule "middleware-note"]
	path = middleware-note
	url = git@github.com:nickdecodes/middleware-note.git
[submodule "python-note"]
	path = python-note
	url = git@github.com:nickdecodes/python-note.git
[submodule "qt-note"]
	path = qt-note
	url = git@github.com:nickdecodes/qt-note.git
[submodule "react-native-note"]
	path = react-native-note
	url = git@github.com:nickdecodes/react-native-note.git
[submodule "react-note"]
	path = react-note
	url = git@github.com:nickdecodes/react-note.git
[submodule "shell-note"]
	path = shell-note
	url = git@github.com:nickdecodes/shell-note.git
[submodule "streaming-media-note"]
	path = streaming-media-note
	url = git@github.com:nickdecodes/streaming-media-note.git
[submodule "swift-note"]
	path = swift-note
	url = git@github.com:nickdecodes/swift-note.git
[submodule "vim-note"]
	path = vim-note
	url = git@github.com:nickdecodes/vim-note.git
[submodule "vue-note"]
	path = vue-note
	url = git@github.com:nickdecodes/vue-note.git
[submodule "work-note"]
	path = work-note
	url = git@github.com:nickdecodes/work-note.git
