[submodule "git_note"]
	path = git_note
	url = git@github.com:nickdecodes/git_note.git
[submodule "vim_note"]
	path = vim_note
	url = git@github.com:nickdecodes/vim_note.git
[submodule "mac_note"]
	path = mac_note
	url = git@github.com:nickdecodes/mac_note.git
[submodule "shell_note"]
	path = shell_note
	url = git@github.com:nickdecodes/shell_note.git
[submodule "linux_note"]
	path = linux_note
	url = git@github.com:nickdecodes/linux_note.git
[submodule "qt_note"]
	path = qt_note
	url = git@github.com:nickdecodes/qt_note.git
[submodule "docker_note"]
	path = docker_note
	url = git@github.com:nickdecodes/docker_note.git
[submodule "swift_note"]
	path = swift_note
	url = git@github.com:nickdecodes/swift_note.git
[submodule "golang_note"]
	path = golang_note
	url = git@github.com:nickdecodes/golang_note.git
